.pricing-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .pricing-left {
    flex: 1;
    padding: 20px;
    margin-right: 20px; 
  }

  .pricing-right{
    margin-top: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    flex: 1;
    padding: 20px;
    max-width: 400px;
  }
  
  .pricing-text h1 {
    font-family: Proxima Nova, sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 107.93px;
    text-align: left;
    color: #0B1215;
    margin-bottom: 10px;
    max-width: 500px;
  }
  
  .pricing-text p {
    font-family: Proxima Nova, sans-serif;
    color: #3C4144;
    font-size: 24px;
    font-weight: 400;
    line-height: 43.85px;
    text-align: left;
    max-width: 550px;
  }
  .fee-structure {
    position: relative; 
  }
  
  .fee-structure h3 {
    color: black;
    background-color: #A9C9FF; 
    padding: 20px; 
    margin: -20px -20px 20px -20px;
    text-align: left; 
    width: calc(100% + 40px);
    box-sizing: border-box; 
    border-radius: 20px 20px 0 0; 
    font-family: Proxima Nova, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.1px;
    text-align: left;
 
}
  
  .fee-structure h4 {
    font-size: 20px;
    color: #448AFF;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  
  .fee-structure p {
    font-size: 16px;
    color: #3C4144;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .figure-container {
    margin-top: 5%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px; 
    text-align: center; 
  }
  
  .figure-left, .figure-right {
    flex: 1; 
    padding: 30px; 
    max-width: 300px;
    font-family: Proxima Nova, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.72px;
    text-align: left;  
  }
  
  .figure-left h1, .figure-right h1 {
    font-size: 30px;
    margin: 0; 
    color: #0B1215;
  }
  
  .figure-left h1 span, .figure-right h1 span {
    font-weight: bold;
    color:#05BB6D;
      }

      .last-paragraph {
        font-size: 18px;
        line-height: 1.5;
        color: #333; 
        margin: 20px 0;
        padding: 20px; 
        border-radius: 8px; 
        max-width: 1200px; 
        text-align: left; 
        margin-left: auto; 
        margin-right: auto;
        padding-left: 30px;
        line-height: 40.23px;
        color: #5C6062;
        margin-bottom: 40%;
      }
      
  
  
  
  @media (max-width: 768px) {
    .pricing-container {
      flex-direction: column;
      align-items: center;
    }
  
    .pricing-left, .pricing-right {
      padding: 10px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .pricing-text h1 {
      font-size: 28px;
    }
  
    .pricing-text p, .fee-structure p {
      font-size: 18px;
    }
  
    .fee-structure h3 {
      font-size: 22px;
    }
  
    .fee-structure h4 {
      font-size: 18px;
    }
    .figure-container {
        flex-direction: column; 
      }
    
      .figure-left, .figure-right {
        padding: 10px; 
        border-radius: 8px; 
      }
    
      .figure-right {
        text-align: left; 
      }
    }

    
  
  