.donorDetailsBody {
  height: 100vh;
  /* height: 100%; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.272);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.donorDetailsWrapper {
  height: 90%;
  width: 30%;
  min-width: 350px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  /* gap: 5px; */
  flex-direction: column;
  
}

.donorDetailsBoxCancleHead {
  height: 7%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.donorDetailsBoxHead {
  height: 7%;
  background-color: #F1F1F2;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: bold;
  }
}

.donorDetailsBoxFoot {
  height: 10%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  
  .detailsFootHoldBox {
    /* height: 100%; */
    display: flex;
    /* width: 100%; */
    width: max-content;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    
    div {
      font-size: 14px;
    }
  }
}

.donorDetailsUserDetails {
  background-color: white;
  height: 27%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .donorDetailsNameBox {
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    div {
      font-weight: bold;
    }

    span {
      color: #5C6062;
    }
  }

 .donorDetailsPaymentType {
    height: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    .paymentTypeBoxHolder {
      /* background-color: red; */
      display: flex;
      flex-direction: column;
      gap: 5px;

      div {
        color: #5C6062;
      }

      .extraDetails {
        color: #05BB6D;
        font-weight: bold;

      }
    }
  }
}

.PayType {
  color: black;
  font-weight: bold;
}

.donordetailsInfoBox {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 10px;
  /* padding-right: 10px; */
  /* background-color: red; */
}

.contactInfoLabel {
  color: #5C6062;
}

.contactInfoEmail {
  color: #0B1215;
  font-weight: bold;
}

.donorDetailsMessageBox {
  height: 15%;
  padding: 10px;
  width: 100%;
}

.donorContactInfoEmailBox {
  background-color: #B2F0D5;
  display: flex;
  align-items: center;
  color: #05BB6D;
  gap: 5px;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.persiceDetailsBody {
  height: 90vh;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* background-color: red; */
}

.preciseDetailsHead {
  /* background-color: green; */
  font-size: 18px;
  display: flex;
  cursor: pointer;
  gap: 9px;
}

.preciseDetailsBox {
/* background-color: rgb(40, 235, 40); */
display: flex;
flex-direction: column;
gap: 10px;
}

.preciseDetailsName {
  font-size: 25px;
  /* font-weight: bold; */
}

.preciseMoreBox {
  height: max-content;
  /* background-color: red; */
  /* flex-wrap: wrap; */
  width: 100%;
  display: flex;
  gap: 20px;

  
}

.preEmailSendBox {
  height: 350px;
  width: 40%;
  padding: 15px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: white;
  flex-direction: column;
  gap: 5px;
  /* color: white; */
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  
}

.preDetailsDataBox {
  width: 60%;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid lightgray;
}

.botmLine {
  height: 1px;
  background-color: rgb(240, 233, 233);
  width: 100%;
  margin-bottom: 20px;
}

.sendEmailBox {
  
  textarea {
    border: 1px solid rgb(198, 196, 196);
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    width: 100%;
    /* height: 100%; */
    /* border: none; */
    outline: none;
  }
  /* background-color: red; */
}

.preEmailBtnBox {
  height: max-content;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
  button {
    padding: 8px;
    border: none;
    border-radius: 8px;
    width: 80px;
    cursor: pointer;
    height: 40px;
    color: white;
    background-color: #05BB6D;
    
  }

}

@media screen and (max-width: 675px) {
  .preciseMoreBox {
    flex-direction: column;
  }

  .preEmailSendBox {
    width: 100%;
    /* gap: 0px; */
  }

  .preDetailsDataBox {
    width: 100%;
    /* gap: 0px; */
  }
}