* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; 
}

.page-wrapper {
  height: auto;
  width: 100%;
  background-color: #E6FAF2 !important; 
  max-width: 100%;
}

.landingpage-container {
  width: 100%; 
  padding-top: 10px;

}

.not-coloured-nav {
  background-color: white;
  width: 100%; 
}

@media (max-width: 768px) { 
  .landingpage-container {
    padding-top: 0; 
  }
}

.not-coloured-nav {
  background-color: white; 
  width: 100%; 
}