.about-container{
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background: white;
    box-sizing: border-box;
}

.about-inner{
    height: auto;
    background: #E6FAF2;
    position: relative;
    padding-top: 10px;
}

.about-section {
    padding: 50px;
    text-align: center;
  }
  
  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: auto; 
}
  
  .about-content {
    text-align: center;
    padding: 20px;
  }
  
  .about-content h1 {
    font-family: Proxima Nova, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #3C4144;
  }
  
  .about-content span {
    color: #05CE78;
  }
  
  .about-content p {
      margin-bottom: 0px;
      line-height: 1.5;
      font-family: Proxima Nova, sans-serif;
      font-size: 24px;
      font-weight: 400;
      max-width: 700px;
      margin: 0 auto; 
      position: relative;
  }
  
  @media (max-width: 768px) {
    .about-section {
      padding: 20px;
    }

    .about-inner{
      padding-top: 0px;
    }
  
    .about-header {
      height: auto;
      padding: 10px;
    }
  
    .about-content h1 {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 15px;
    }
  
    .about-content p {
      font-size: 16px;
      margin-bottom: 20px;
      min-width: 200px;
  
    }
  }
  
  
  